.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.nav {
  position: relative;
  z-index: 10;
}

.hamburgerMenu {
  cursor: pointer;
  width: 30px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 20;
}

.menu.openMenu {
  opacity: 1;
  pointer-events: all;
}

.menu li {
  opacity: 0;
  transform: translateY(-20px);
}

.menu.openMenu li {
  animation: slideDown 0.3s ease-out forwards;
}

.menu.closeMenu li {
  animation: slideUp 0.3s ease-out forwards;
}

.menu.openMenu li:nth-child(1) {
  animation-delay: 0.1s;
}

.menu.openMenu li:nth-child(2) {
  animation-delay: 0.2s;
}

.menu.openMenu li:nth-child(3) {
  animation-delay: 0.3s;
}

.menu.openMenu li:nth-child(4) {
  animation-delay: 0.4s;
}

.menu.openMenu li:nth-child(5) {
  animation-delay: 0.5s;
}

.menu.openMenu li:nth-child(6) {
  animation-delay: 0.6s;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: red;
}

.menu li:last-child {
  border-bottom: none;
}

.imgPosterArt,
.imgMerchDesign,
.imgAlbumArtwork {
  width: 12rem;
}

.imgContact,
.imgAbout {
  width: 14rem;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.modalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
