.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.nav {
  position: relative;
}

.hamburgerMenu {
  cursor: pointer;
  width: 30px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease;
}

.menu {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  text-align: center;
  list-style-type: none;
  width: 200px;
}

.menu li {
  opacity: 0;
  transform: translateY(-20px);
}

.menu.openMenu li {
  animation: slideDown 0.3s ease-out forwards;
}

.menu.closeMenu li {
  animation: slideUp 0.3s ease-out forwards;
}

.menu.openMenu li:nth-child(1) {
  animation-delay: 0.1s;
}

.menu.openMenu li:nth-child(2) {
  animation-delay: 0.2s;
}

.menu.openMenu li:nth-child(3) {
  animation-delay: 0.3s;
}

.menu.openMenu li:nth-child(4) {
  animation-delay: 0.4s;
}

.menu.openMenu li:nth-child(5) {
  animation-delay: 0.5s;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: red;
}

.menu li:last-child {
  border-bottom: none;
}

.bar.open:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.imgMenu {
  width: 12rem;
}
